.issues-head {
    background-color: var(--color-light-grey);
    padding: 1rem;
    border-bottom: 1px solid var(--color-border-default);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.head-options-left,
.head-options-right {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.head-option {
    display: flex;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
    transition: color 0.12s ease-out;
    color: var(--color-fg-muted);
    font-weight: 500;
}

.head-option:hover {
    color: var(--color-default);
}

.head-option span {
    margin-right: 0.25rem;
    margin-left: 0.5rem;
}

.head-option.active {
    color: var(--color-default);
    font-weight: 600;
}

@media (max-width: 992px) {
    .head-options-right {
        display: none;
    }
}
