body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0;
    box-sizing: border-box;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

:root {
    --color-default: #24292f;
    --color-fg-muted: #57606a;
    --color-border-default: #d0d7de;
    --color-light-grey: #f6f8fa;
    --color-grey: #24292f;
    --color-underline: #fd8c73;
    --color-blue: #0969da;
}
.util-spacer {
    width: 100%;
}

.text-tag {
    font-weight: 500;
    font-size: 12px;
    color: var(--color-fg-muted);
    border-radius: 10px;
    border: 1px solid var(--color-border-default);
    padding: 2px 4px;
}

.fa-solid {
    font-size: 14px;
}